*  {margin:0; padding:0; border: 0; line-height: 100%; font-size: 100%;}

a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
	text-decoration: none;
    color: #FFFFFF;
}

a:hover, a:hover * {
    text-decoration: underline;
    color: #FFFFFF;
}

#directoryMenu{width:100%;}
#dropDownDiv {padding:25px 25px 25px 25px;}
#leftDiv {width:15%; overflow:auto; height:100%; float:left; background-color:#000000;}
#rightDiv {width:85%; height:100%; float:left; background-color:#222222;}
#mediaMain {width: 640px; margin-left: auto; margin-right: auto;}
#mediaPopOut {background-color:#000000;}

#linkListSecondDiv {margin-left:0px;}

span.listLinkDiv:hover {
background-color: white;
}

span.listLinkSpan {color: black;
cursor: pointer;
display: inline;
padding-left: 16px;
font-family: arial, sans-serif;
font-size: 13px;
font-weight: bold;
height: 0px;
overflow-x: visible;
overflow-y: visible;
position: static;
text-overflow: clip;
vertical-align: middle;
white-space: nowrap;
width: 0px;}

div.listLinkDiv{
cursor: pointer;
background-attachment: scroll;
background-clip: border-box;
background-color: black;
background-image: none;
background-origin: padding-box;
display: block;
font-family: arial, sans-serif;
font-size: 13px;
height: 21px;
overflow-x: visible;
overflow-y: visible;
padding-left: 0px;
padding-right: 0px;
position: static;
text-overflow: clip;
white-space: nowrap;
width: 100%;
}

div.listLinkSelectedDiv{
background-color: red;
}

div.listLinkClickedDiv{
background-color: green;
}