::-moz-selection{
  background-color:Transparent;
}

::selection {
  background-color:Transparent;
}



/* window layout */
#menuDiv {
  position: absolute; 
  top: 0px;
  left: 0px;
  bottom: 63px;
  width: 147px;
  overflow:hidden;
  background-color:#e1edf7;
  border-right-width: 3px;
  border-right-color: #f5f5f5;
  border-right-style: solid;
}

#contentDiv {
  position: absolute; 
  top: 0px;
  bottom: 63px;
  left: 150px;
  right: 0px;
  overflow:hidden;  
  background-color:#ffffff;
}

.containerDiv{
height:100%;
position: absolute;
top: 0px;
left: 0px;
bottom: 63px;
right: 0px;
display: none;
}

.containerDiv.active{
  display: block;  
}

/*menu setup*/
div.menuTextLink{
cursor: pointer;
padding-top: 8px;
height: 23px;
}

div.menuLinkDiv{
cursor: pointer;
background-color: #e1edf7;
font-family: arial, sans-serif;
font-size: 15px;
height: 31px;
width: 100%;
color: black;
}

div.menuLinkDiv.selected{
  font-weight: bold;
  background-color: #7a9fc1;
  color: white;
}

.menuIcon{
margin-top: 3px;
margin-left: 20px;
margin-right: 3px;
width: 25px;
height: 25px;
float: left;
}

#iconAudioDiv{
background: url(../images/icon-audio.png);
}

#iconVideoDiv{
background: url(../images/icon-video.png);
}

#iconTorrentDiv{
background: url(../images/icon-other.png);
}

.selected #iconAudioDiv{
background: url(../images/icon-audio_active.png);
}

.selected #iconVideoDiv{
background: url(../images/icon-video_active.png);
}

.selected #iconTorrentDiv{
background: url(../images/icon-other_active.png);
}

/*Player Controls*/
#controlsDiv {
  position: absolute;
  bottom:0px;
  left: 0px;
  right: 0px;
  height: 62px;
  width: 100%;
  overflow:hidden;  
  background-color:#c0c0c0;
  border-top-width: 1px;
  border-top-color: #black;
  border-top-style: solid;
  z-index: 3;
  opacity: 1;
}

#videoDiv {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow:hidden;  
  background-color:black;
  z-index: 2;
}


.playBtnImgDiv{
margin-top: 7px;
margin-left: 1px;
margin-right: 1px;
width: 48px;
height: 48px;
float: left;
background: url(../images/play_disabled.png);
}

.playBtnImgDiv.enabled.play{
background: url(../images/play.png);
}

.playBtnImgDiv.enabled.play.mousedown{
background: url(../images/play_active.png);
}

.playBtnImgDiv.enabled.pause{
background: url(../images/pause.png);
}

.playBtnImgDiv.enabled.pause.mousedown{
background: url(../images/pause_active.png);
}

.stopBtnImgDiv{
margin-top: 7px;
margin-left: 1px;
margin-right: 1px;
width: 48px;
height: 48px;
float: left;
background: url(../images/stop_disabled.png);
}

.stopBtnImgDiv.enabled{
background: url(../images/stop.png);
}

.stopBtnImgDiv.enabled.mousedown{
background: url(../images/stop_active.png);
}



.skipFwdBtnImgDiv{
margin-top: 11px;
margin-left: 1px;
margin-right: 20px;
width: 40px;
height: 40px;
float: left;
background: url(../images/skip_forward_disabled.png);
}

.skipFwdBtnImgDiv.enabled{
background: url(../images/skip_forward.png);
}

.skipFwdBtnImgDiv.enabled.mousedown{
background: url(../images/skip_forward_active.png);
}


.skipPrvBtnImgDiv{
margin-top: 11px;
margin-left: 25px;
margin-right: 1px;
width: 40px;
height: 40px;
float: left;
background: url(../images/skip_previous_disabled.png);
}

.skipPrvBtnImgDiv.enabled{
background: url(../images/skip_previous.png);
}

.skipPrvBtnImgDiv.enabled.mousedown{
background: url(../images/skip_previous_active.png);
}

.progressTimeline{
float: left;
position: absolute;
top: 8px;
left: 227px;
right: 272px;
bottom: 8px;
height: 46px;
min-width: 150px;
}

.progressTimelineLeftDiv{
float: left;
width: 77px;
height: 46px;
background: url(../images/progress_timeline_left.png);
}

.progressTimelineCenterDiv{
float: left;
position: absolute;
left: 77px;
right: 73px;
height: 46px;
background: url(../images/progress_timeline_center.png);
}

.progressTimelineRightDiv{
position: absolute;
right: 0px;
width: 73px;
height: 46px;
background: url(../images/progress_timeline_right.png);
}

.playbackTrack{
position: absolute;
left: 50px;
right: 79px;
top: 25px;
height: 15px;
z-index: 4;
min-width: 26px;
}
.playbackTrackLeft{
position: absolute;
left: 0px;
top: 0px;
height: 15px;
width: 14px;
z-index: 4;
background: url(../images/playback_track_left.png);
}

.playbackTrackCenter{
position: absolute;
left: 14px;
right: 12px;
top: 0px;
height: 15px;
z-index: 4;
background: url(../images/playback_track_center.png);
}

.playbackTrackRight{
position: absolute;
right: 0px;
height: 15px;
width: 12px;
z-index: 4;
background: url(../images/playback_track_right.png);
}

.playbackTrackLeftProgress{
position: absolute;
left: 0px;
top: 0px;
height: 15px;
width: 14px;
z-index: 5;
background: url(../images/playback_track_progress_left.png);
}

.playbackTrackCenterProgress{
position: absolute;
left: 14px;
right: 20px;
top: 0px;
height: 15px;
z-index: 5;
background: url(../images/playback_track_progress_center.png);
}

.playbackTrackRightProgress{
position: absolute;
right: 0px;
height: 15px;
width: 20px;
z-index: 5;
background: url(../images/playback_track_progress_right.png);
}

.playbackCursor{
position: absolute;
left: 0px;
top: -1px;
width: 18px;
height: 17px;
z-index: 6;
background: url(../images/playback_cursor.png);
}

.progressTimelineTimePlayed{
position: absolute;
top: 25px;
left: 10px;
z-index: 6;
color: white;
font-family: arial, sans-serif;
font-size: 8pt;
display: none;
}

table.display td.playIconRow{
width: 7px;
padding: 0px;
padding-right: 10px;
}

table.display thead th.playIconRow{
width: 7px;
padding: 0px;
padding-right: 10px;
}

.progressTimelineTimeLeft{
position: absolute;
top: 25px;
right: 30px;
z-index: 6;
color: white;
font-family: arial, sans-serif;
font-size: 8pt;
display: none;
}

.progressTimelineHeader{
color: white;
font-family: arial, sans-serif;
font-size: 9pt;
text-align: center;
width: 100%;
position: absolute;
top: 7px;
left: 0px;
z-index: 6;
display: none;
overflow: hidden;
height: 15px;
}

.progressTimelineTitle{
display: inline;
}
.progressTimelineArtist{
display: inline;
color: lightGrey;
}

.progressTimelineAlbum{
display: inline;
color: lightGrey;
}

.progressTimelineIconAudio{
display: inline;
padding-right: 2px;
}

#controlsDiv.video .progressTimelineIconAudio{
display: none;
}

.progressTimelineIconVideo{
display: none;
padding-right: 2px;
}

#controlsDiv.video .progressTimelineIconVideo{
display: inline;
}

.volumeDiv{
position: absolute;
right: 252px;
top: 22px;
}

.volumeIconDiv{
position: absolute;
left:0px;
top: 2px;
width: 14px;
height: 14px;
background: url(../images/volume_icon.png);
}

.volumeTrackDiv{
position: absolute;
left:18px;
top: 1px;
width: 110px;
height: 15px;
background: url(../images/volume_track.png);
}

.volumeKnobDiv{
position: absolute;
left: 47px;
top: -1px;
width: 17px;
height: 17px;
background: url(../images/volume_knob.png);
}

.shuffleLoopDiv{
position: absolute;
right: 104px;
top: 13px;
}

.shuffleBtnDiv{
position: absolute;
top: 0px;
left: 0px;
height: 33px;
width: 39px;
}

.shuffleBtnDiv.off{
background: url(../images/shuffle.png);
}

.shuffleBtnDiv.off.mousedown{
background: url(../images/shuffle_active.png);
}

.shuffleBtnDiv.on{
background: url(../images/shuffle-on.png);
}

.shuffleBtnDiv.on.mousedown{
background: url(../images/shuffle-on_active.png);
}

.loopBtnDiv{
position: absolute;
top: 0px;
left: 39px;
height: 33px;
width: 40px;
}

.loopBtnDiv.off{
background: url(../images/repeat.png);
}

.loopBtnDiv.off.mousedown{
background: url(../images/repeat_active.png);
}

.loopBtnDiv.once{
background: url(../images/repeat-1.png);
}

.loopBtnDiv.once.mousedown{
background: url(../images/repeat-1_active.png);
}
.loopBtnDiv.on{
background: url(../images/repeat-on.png);
}

.loopBtnDiv.on.mousedown{
background: url(../images/repeat-on_active.png);
}
